{% extends 'padre.html' %}

{% block contenidoQueCambia %}

    <h1>Vista de Quienes Somos</h1>
    <br>
    <h2>About Us</h2>
    <br>
    <p> Mi nombre es Nicholas Sprigings y soy un experto en After Efects realizando un montón de trabajos en el ambito de la publicidad y los video juegos <p>
    <p> Desde hace más de 20 años nuestra emresa trabaja con las Agencias y Productoras más importantes a nivel local. <p>
    <br>
    <p> Aqui me gustaría poder poner una imagen y al lado una descripción de cada una de las personas que formamos el equipo</p>

{% endblock contenidoQueCambia %}